@import 'tailwindcss';

body {
  font-family: 'Outfit', sans-serif;
  background-color: #ffffff;
  color: '#111111';
}

button,
a {
  transition: all 0.2s ease;
}

button:hover,
a:hover {
  opacity: 0.8;
}

.custom-radio::after {
  content: '';
}

.custom-radio:checked::after {
  background-color: #3a6150;
}

.custom-radio:hover::after {
  background-color: #3a6150;
}

.customCheckboxIcon svg {
  width: 12px;
  height: 12px;
  color: white;
  opacity: 0;
  transition: opacity 200ms ease;
}

.peer:checked + .customCheckboxBox .customCheckboxIcon {
  opacity: 1;
}
